@font-face {
    font-family: "OffBit-101Bold";
    src: url("./fonts/OffBitTrial-101Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OffBit-101";
    src: url("./fonts/OffBitTrial-101.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OffBit-DotBold";
    src: url("./fonts/OffBitTrial-DotBold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "perfectDosVga437";
    src: url("./fonts/perfectdosvga437.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    width: 100%;
    background: url('./img/noise.png'),#181818;
    color: #fff;
}

.content {
    max-width: 420px;
    margin: 0 auto;
}

header {
    padding-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

header .pre {
    font-family: 'OffBit-101Bold', 'sans-serif';
    font-size: 70px;
    margin-bottom: 25px;
    line-height: 15px;
    color: #585858;
}

header .main-logo {
    font-family: "OffBit-DotBold", "sans-serif";
    font-size: 70px;
    margin-bottom: 25px;
}

header .date {
    font-family: "OffBit-101", 'sans-serif';
    font-size: 23px;
    margin-left: 20px;
    color: #33C600;
}

.main-text {
    font-family: "perfectDosVga437", 'sans-serif';
}

.command-line {
    display: flex;
    font-size: 20px;
    color: #8D8D8D;
    margin-bottom: 30px;
}

.command-line .easter-egg {
    margin-left: 10px;
    color: rgba(114, 255, 65, 0.17);
}

.cat {
    display: flex;
    margin-left: 75px;
    margin-bottom: 25px;
}

.title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.title span {
    color: #33C600;
}

.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #B1B1B1;
    margin-bottom: 10px;
}

.text span {
    background: #33C600;
    width: 1px;
    height: 16px;
    color: #33C600;
}

.button {
    margin: 50px auto;
    background: #33C600;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 88.02%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 0 0 #fff;
}

.button:hover {
    background: #000;
    color: #fff;
    box-shadow: 5px 5px 0 0 #8c8c8c;
}

.partners .title {
    margin-top: 80px;
    font-family: "perfectDosVga437", 'sans-serif';
    font-size: 32px;
    line-height: 21px;
    color: #969696;
}

.partners .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.partners img {
    margin: 30px;
}


.logo-img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
    header .pre {
        font-size: 50px;
    }

    header .main-logo {
        font-size: 50px;
    }

    header .date {
        font-size: 18px;
    }

    .command-line {
        font-size: 16px;
    }

    .cat {
        margin: 25px auto;
        display: flex;
        justify-content: center;
    }

    .main-text {
        margin: 0 20px;
    }

    .title {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .logo-img {
        width: 80%;
        margin: 0 auto;
        display: flex;
        padding-bottom: 100px;
    }
}



/*GLITCH*/

.main-logo {
    outline: none;
    font-family: "OffBit-DotBold", monospace;
}
.main-logo,
.main-logo * {
    -webkit-animation: cray 10s infinite steps(50);
    animation: cray 10s infinite steps(50);
    display: inline-block;
}
@-webkit-keyframes cray {
    2% {
        font-weight: 200;
        font-style: italic;
        text-decoration: underline;
        text-transform: none;
    }
    4% {
        font-weight: 300;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    6% {
        font-weight: 200;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    8% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    10% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    12% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    14% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    16% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    18% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    20% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    22% {
        font-weight: 200;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    24% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    26% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    28% {
        font-weight: 500;
        font-style: italic;
        text-decoration: line-through;
        text-transform: none;
    }
    30% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    32% {
        font-weight: 100;
        font-style: normal;
        text-decoration: line-through;
        text-transform: uppercase;
    }
    34% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    36% {
        font-weight: 500;
        font-style: italic;
        text-decoration: none;
        text-transform: capitalize;
    }
    38% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: lowercase;
    }
    40% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    42% {
        font-weight: 600;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    44% {
        font-weight: 100;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    46% {
        font-weight: 700;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    48% {
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    50% {
        font-weight: 300;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    52% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    54% {
        font-weight: 100;
        font-style: normal;
        text-decoration: line-through;
        text-transform: lowercase;
    }
    56% {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    58% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    60% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    62% {
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    64% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    66% {
        font-weight: 200;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    68% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    70% {
        font-weight: 700;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    72% {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    74% {
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        text-transform: uppercase;
    }
    76% {
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    78% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    80% {
        font-weight: 400;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    82% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    84% {
        font-weight: 200;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    86% {
        font-weight: 100;
        font-style: italic;
        text-decoration: underline;
        text-transform: none;
    }
    88% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    90% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    92% {
        font-weight: 100;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    94% {
        font-weight: 200;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    96% {
        font-weight: 500;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    98% {
        font-weight: 700;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
}
@keyframes cray {
    2% {
        font-weight: 200;
        font-style: italic;
        text-decoration: underline;
        text-transform: none;
    }
    4% {
        font-weight: 300;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    6% {
        font-weight: 200;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    8% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    10% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    12% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    14% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    16% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    18% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    20% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    22% {
        font-weight: 200;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    24% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    26% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    28% {
        font-weight: 500;
        font-style: italic;
        text-decoration: line-through;
        text-transform: none;
    }
    30% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    32% {
        font-weight: 100;
        font-style: normal;
        text-decoration: line-through;
        text-transform: uppercase;
    }
    34% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    36% {
        font-weight: 500;
        font-style: italic;
        text-decoration: none;
        text-transform: capitalize;
    }
    38% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: lowercase;
    }
    40% {
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    42% {
        font-weight: 600;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    44% {
        font-weight: 100;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
    }
    46% {
        font-weight: 700;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    48% {
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    50% {
        font-weight: 300;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    52% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    54% {
        font-weight: 100;
        font-style: normal;
        text-decoration: line-through;
        text-transform: lowercase;
    }
    56% {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    58% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    60% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    62% {
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    64% {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    66% {
        font-weight: 200;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    68% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    70% {
        font-weight: 700;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    72% {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    74% {
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        text-transform: uppercase;
    }
    76% {
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    78% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    80% {
        font-weight: 400;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    82% {
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        text-transform: none;
    }
    84% {
        font-weight: 200;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    86% {
        font-weight: 100;
        font-style: italic;
        text-decoration: underline;
        text-transform: none;
    }
    88% {
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    90% {
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    92% {
        font-weight: 100;
        font-style: normal;
        text-decoration: none;
        text-transform: capitalize;
    }
    94% {
        font-weight: 200;
        font-style: normal;
        text-decoration: underline;
        text-transform: none;
    }
    96% {
        font-weight: 500;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
    98% {
        font-weight: 700;
        font-style: normal;
        text-decoration: line-through;
        text-transform: none;
    }
}